################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/login/node_modules
/login/.env
/node_modules
/.env
