body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0;
}
html{
    overflow:hidden
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#myimg {
    width: 100%;
    height: inherit;
    padding: 0;
    margin: 0;
}
nav a {
    font-family: fantasy;
    letter-spacing: 2px;
}
li{
    margin:10px;
}

.mycol {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 76vh;
}
.row{
    margin-bottom:0;
}
.row, .col.s6 {
    padding-left: 0px;
    padding-bottom: 0px;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height:fit-content;
    font-family: monospace;
}
button {
    background-color: lightslategrey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

.myLogin{
    height: 76vh;
}
.signUpForm{
    height: 20vh;
}
.table{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
}
label{
    font-family: monospace;
}
.bcgImage, .sidediv {
    width:50%;
    /*both required or else the first one will behave like a block level ele and push the other one*/
}

.myContainer{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}


.nav-div{
    height: 10vh;
    width: 100%;
    display: inline-block;
    background-color: cadetblue;

}
.nav-div a, .nav-div ul, .nav-div li{
    display: inline-block;
}
.nav-div ul{
    float:right;
}
.nav-div a{
    position:relative;
    top: 10px;
    left: 10px;
}
.res{
    height: 80vh;
    width:100%;
}